#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ck-widget image {
  width: 50px !important;
}

/*
 * FilePond Custom Styles
 */
.filepond--drop-label {
  background-color: red !important;
}

.filepond--label-action {
  text-decoration-color: #babdc0;
}

.filepond--panel-root {
  background-color: #cb2222 !important;
}

.filepond--root {
  width: 170px;
  margin: 0 auto;
}
